# Dependencies
/node_modules/
/vendor/

# Build and Cache files
.phpunit.result.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo
