{% include 'mcp_header.html' %}
{% if not definition.INCLUDED_KARMA_CSS %}
	{% INCLUDECSS '@vinny_karma/karma.css' %}
	{% DEFINE INCLUDED_KARMA_CSS = true %}
{% endif %}

<form method="post" id="mcp" action="{{ U_POST_ACTION }}">

<h2>{{ L_TITLE }}</h2>

<div class="panel">
	<div class="inner">

	<h3>{{ USERNAME_FULL|raw }}</h3>

	<div>
		<div class="column1">
			{% if AVATAR_IMG %}<div>{{ AVATAR_IMG|raw }}</div>{% endif %}
		</div>

		<div class="column2">
			<dl class="details">
				<dt>{{ lang('KARMA') }}{{ lang('COLON') }}</dt>
				<dd><strong>{{ USER_KARMA }}</strong></dd>
			</dl>
		</div>
	</div>

	</div>
</div>

<div class="panel">
	<div class="inner">
		<h3>{{ lang('VINNY_KARMA_MCP_RESET_ACTIONS') }}</h3>
		<p>{{ lang('VINNY_KARMA_MCP_RESET_ACTIONS_EXPLAIN') }}</p>
		<fieldset>
			<dl>
				<dt><label>{{ lang('VINNY_KARMA_MCP_RESET_RECEIVED') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_KARMA_MCP_RESET_RECEIVED_EXPLAIN') }}</span></dt>
				<dd>
					<input type="submit" name="action[reset_received]" value="{{ lang('VINNY_KARMA_MCP_RESET') }}" class="button2" />
				</dd>
			</dl>
			<dl>
				<dt><label>{{ lang('VINNY_KARMA_MCP_RESET_CAST') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_KARMA_MCP_RESET_CAST_EXPLAIN') }}</span></dt>
				<dd>
					<input type="submit" name="action[reset_cast]" value="{{ lang('VINNY_KARMA_MCP_RESET') }}" class="button2" />
				</dd>
			</dl>
		</fieldset>
	</div>
</div>

<div class="panel">
	<div class="inner">

	<h3>{{ lang('VINNY_KARMA_MCP_ADJUST_BALANCE') }}</h3>
	<p>{{ lang('VINNY_KARMA_MCP_ADJUST_BALANCE_EXPLAIN') }}</p>

	<fieldset>
		<dl>
			<dt><label for="adjust_amount">{{ lang('VINNY_KARMA_MCP_ADJUST_AMOUNT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_KARMA_MCP_ADJUST_AMOUNT_EXP') }}</span></dt>
			<dd><input name="adjust_amount" id="adjust_amount" type="number" step="1" class="inputbox autowidth" /></dd>
		</dl>
		<dl>
			<dt><label for="adjust_reason">{{ lang('VINNY_KARMA_MCP_REASON') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_KARMA_MCP_REASON_EXP') }}</span></dt>
			<dd><input name="adjust_reason" id="adjust_reason" type="text" class="inputbox" style="width: 80%;" /></dd>
		</dl>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	{{ S_HIDDEN_FIELDS }}
	<input type="submit" name="action[adjust_balance]" value="{{ lang('SUBMIT') }}" class="button1" />
	{{ S_FORM_TOKEN }}
</fieldset>

<div class="panel">
	<div class="inner">

	<div class="action-bar bar-top">
		<div class="pagination">
			{{ TOTAL_REPORTS }}
			{% if loops.pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				 &bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>

	<table class="table1">
	<thead>
	<tr>
		<th class="name">{{ lang('VINNY_KARMA_MCP_VOTER') }}</th>
		<th class="center">{{ lang('VINNY_KARMA_MCP_POST_AUTHOR') }}</th>
		<th class="center">{{ lang('VINNY_KARMA_MCP_POST_ID') }}</th>
		<th class="center">{{ lang('VINNY_KARMA_MCP_DIRECTION') }}</th>
		<th class="center">{{ lang('TIME') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for votes in loops.votes %}
		<tr class="{% if votes.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td>{{ votes.VOTER|raw }}</td>
			<td class="center">{{ votes.AUTHOR|raw }}</td>
			<td class="center">{% if votes.POST_URL %}<a href="{{ votes.POST_URL }}">#{{ votes.POST_ID }} <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i></a>{% else %}#{{ votes.POST_ID }}{% endif %}</td>
			<td class="center">
				{% if votes.DIRECTION == 1 %}
					<span class="karma-direction-plus">+1</span>
				{% else %}
					<span class="karma-direction-minus">-1</span>
				{% endif %}
			</td>
			<td class="center">{{ votes.DATE }}</td>
		</tr>
	{% else %}
		<tr>
			<td class="bg1" colspan="5" align="center"><span class="gen">{{ lang('NO_ENTRIES') }}</span></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	<div class="action-bar bottom">
		<div class="pagination">
			{{ TOTAL_REPORTS }}
			{% if loops.pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				 &bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>

	</div>
</div>
</form>

{% include 'mcp_footer.html' %}
